#inventory
{
    width: calc(100vw - 60px);
    height: 100vh;

    position: fixed;

    top: 0;
    left: 0;

    display: flex;
    justify-content: flex-end;

    padding: 20vh 30px;
    color: white;
}
#inventory .bg
{
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    filter: blur(2px);
    background-color: rgb(51, 51, 51, .5);
}
#inventory .wrapper
{
    z-index: 2;
}

#inventory .inv
{
    width: calc(400px - 24px);
    height: calc(600px - 24px);

    background-color: #999;
    border-radius: 6px;

    border: 12px solid #777;
}
#inventory .inv nav
{
    padding: 10px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    position: relative;
}
/* #inventory .inv nav:before
{
    position: absolute;

    display: block;
    content: "";

    width: 80%;
    height: 2px;

    background-color: #777;

    bottom: 0;
    left: 50%;

    transform: translateX(-50%);
} */
#inventory .inv nav button
{
    outline: none;
    background-color: #b3b3b3;

    color: #7b7b7b;
    border: 0;

    margin: 5px;
    padding: 5px 20px;

    clip-path: polygon(53% 0, 93% 0, 96% 49%, 100% 100%, 0 100%, 4% 49%, 7% 0);
    transition: .3s;
}
#inventory .inv nav button.select,
#inventory .inv nav button:hover
{
    background-color: #ffb86a;
    color: white;
}

#inventory .inv .items
{
    margin: 0 10px;
    margin-padding: 10px;

    border-radius: 4px;

    padding: 10px;

    background-color: #777;

    height: calc(415px);

    overflow-x: auto;

    position: relative;
}
#inventory .inv .items .bg
{
    filter: none;
    z-index: 5;

    position: absolute;
}
#inventory .inv .items .menu
{
    position: absolute;

    z-index: 6;
    width: 80%;

    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;

    /* opacity: 0;
    visibility: hidden;
    z-index: -1; */
}
#inventory .inv .items .menu button
{
    width: 100%;

    padding: 12px 15px;
    clip-path: polygon(7% 0, 93% 0, 100% 50%, 93% 100%, 7% 99%, 0% 50%);

    background-color: #a7a7a7;
    color: white;

    text-transform: uppercase;
    font-size: 12px;

    transition: .3s;
}
#inventory .inv .items .menu button:hover
{
    background-color: #b7b7b7;
}
#inventory .inv .items .menu button:last-child
{
    background-color: #ff9696;
}
#inventory .inv .items .menu button:last-child:hover
{
    background-color: #ffa6a6;
}
#inventory .inv .items .menu button + button
{
    margin-top: 5px;
}
#inventory .inv .items section
{
    display: flex;

    background-color: #999;
    border-radius: 4px;

    padding: 7px 15px;

    transition: .3s;
    position: relative;

    clip-path: polygon(7% 0, 93% 0, 100% 50%, 93% 100%, 7% 99%, 0% 50%);
    position: relative;
}
#inventory .inv .items section:hover,
#inventory .inv .items section.select
{
    background-color: #a7a7a7;
}
#inventory .inv .items section.select
{
    z-index: 6;
}
#inventory .inv .items section + section
{
    margin-top: 10px;
}
#inventory .inv .items section img
{
    width: 60px;
    height: auto;
}
#inventory .inv .items section h1
{
    margin-top: 13px;
    font-size: 17px;
}
#inventory .inv .items section .stars
{
    position: absolute;

    top: calc(50% + 10px);
    left: 75px;

    transform: translateY(-50%);
}
#inventory .inv .items section .stars span
{
    color: #6b6a6a;
}
#inventory .inv .items section .stars span.on
{
    font-size: 17px;
    color: #ffb86a;
}


#inventory .clothes
{
    position: absolute;

    left: 100px;
    top: 50%;

    transform: translateY(-75%);
    z-index: 6;
}
#inventory .clothes .shadow
{
    width: 300px;
    height: auto;
}
#inventory .clothes .item
{
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 2;

    background-color: #888;
    padding: 8px;

    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    cursor: pointer;
}
#inventory .clothes .item.select
{
    background-color: #ffb86a;
}
#inventory .clothes .item.closed
{
    background-color: #fc9292;
}
#inventory .clothes .item span
{
    width: 100%;
    text-align: center;

    color: #777;
}
#inventory .clothes .item.select svg
{
    display: none;
}
#inventory .clothes .item svg,
#inventory .clothes .item img
{
    width: 40px;
    height: 40px;

    fill: #777;

    background-color: #999;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

    padding: 20px;
}

#inventory .char
{
    width: calc(400px);
    height: calc(200px);

    background-color: #999;
    border-radius: 6px;

    border: 12px solid #777;
    margin-right: 10px;
}
