#join
{
    width: 100vw;
    height: calc(100vh - 30px);

    background-color: rgba(0, 0, 0, .7);
    padding: 15px 0;

    position: absolute;

    top: 0;
    left: 0;
}

#join .wrap
{
    opacity: 0;
    visibility: hidden;
    z-index: -1;

    transform: translateY(-70px) translateX(-50%);
    transition: .7s;

    position: absolute;
    left: 50%;

    overflow-x: auto;
    height: calc(100vh - 30px - 50px);
}
#join .wrap::-webkit-scrollbar
{
	display: none;
}

#join .wrap.wrap-opened
{
    opacity: 1;
    visibility: visible;
    z-index: 1;

    transform: translateX(-50%);
}

#join .header
{
    width: calc(100% - 50%);
    padding: 0 25%;

    display: flex;
    justify-content: center;
    align-content: center;

    position: relative;
}
#join .header:before
{
    display: block;
    content: "";

    position: absolute;

    width: 100%;
    height: 2px;

    background-color: rgb(124, 124, 124, .4);

    bottom: 0;
    left: 0;
}
#join .header span
{
    position: absolute;

    background-color: rgb(253, 166, 5, .7);
    bottom: 0;

    width: calc(50% / 3);
    height: 2px;

    transition: .5s;
}
#join .header button
{
    width: calc(100% / 3);
    padding: 15px 0;

    background-color: transparent;
    position: relative;

    border: 0;
    outline: 0;

    color: white;
    cursor: pointer;

    z-index: 5;
    font-size: 16px;
}
#join .header button.header-select
{
    color: #fda605;
}


#join .body
{
    width: 600px;

    margin: 0 auto;
    margin-top: 80px;

    color: white;
}
#join .body h1
{
    width: 100%;
    text-align: center;

    font-size: 27px;
    text-transform: uppercase;

    font-weight: bold;
    margin-bottom: 60px;
}

#join .body .inputs .input,
#join .body .input-code
{
    margin: 35px auto;
}

#join .body .desc
{
    text-align: center;
    font-size: 12px;
}
#join .body .desc + .desc
{
    margin-top: 5px;
}
#join .body .desc button
{
    font-size: 12px;
    background-color: transparent;

    border: 0;
    outline: 0;

    margin-left: 5px;
    color: rgb(159, 159, 159);

    cursor: pointer;
}

#join .body .btns
{
    margin-top: 80px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}
